/* Customize text selection */
::selection {
	background: var(--wp--preset--color--foreground);
	color: var(--wp--preset--color--background);
}

::-moz-selection {
	background: var(--wp--preset--color--foreground);
	color: var(--wp--preset--color--background);
}
