/* input:not([type=submit]),
select,
textarea {
	border: 2px solid var(--wp--preset--color--slate);
	border-radius: 0;
	padding: 15px;
	outline: none;
	background-color: var(--wp--preset--color--background);

	&:focus,
	&:active {
		box-shadow: 0 0 0 3px var(--wp--preset--color--accent);
	}
} */
